@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wat Doi Phasom T.MaeSaab/Yangmeun A.Samerng Chiangmai 50250</br>

    Phone: 081-169-7983</br>

    Website:https//watdoiphasom.wordpress.com/<br />

    E-mail: doiphasom@gmail.com</br>

    Facebook: วัดพระบรมธาตุดอยผาส้ม Doi Pha Som
</address>

<address>
    <strong>Support:</strong>   <a href="https//watdoiphasom.wordpress.com">https//watdoiphasom.wordpress.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>