@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>[[[Wat Pha Som]]]</h1>
    <p class="lead">Welcome to wat pha som e-commerce website</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        
        <p><a class="btn btn-default" href="">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        
        <p><a class="btn btn-default" href="">See more &raquo;</a></p>
    </div>
</div>